path: <%= current_directory %>
<table>
  <tbody>
  <% files.each do |file| %>
      <%
         if file.name == ".."
           link_path = parent
         else
           if file.parent.blank?
             link_path = "#{file.name}"
           else
             link_path = "#{file.parent}/#{file.name}"
           end
         end
      %>
      <tr class="file-manager-row">
        <td><%= image_tag 'folder.png' %></td>
        <td>
          <%= link_to file.name, change_directory_path(path: link_path) %>
        </td>
        <td>
          <% if file.name != '..' %>
            <%= link_to 'add', add_to_playlist_path(path: link_path, current_directory: current_directory) %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

