<div class="breadcrumbs">
  path: <%= current_directory %>
</div>
<table>
  <tbody>
  <% files.each do |file| %>
      <%
         if file.name == ".."
           link_path = parent
         else
           if file.parent.blank?
             link_path = "#{file.name}"
           else
             link_path = "#{file.parent}/#{file.name}"
           end
         end
      %>
      <tr class="file-manager-row">
        <td class="icon">
          <%= fa_icon "folder-close" %><%#= fa_icon 'file-text-alt' %></td>
        <td class="filename">
          <%= link_to file.name, change_directory_path(path: link_path) %>
        </td>
        <td class="actions">
          <% if file.name != '..' %>

            <%= link_to 'add', add_to_playlist_path(path: link_path, current_directory: current_directory) %>

          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

