<div class="main">

  <%= render :partial => 'player', :locals => { current_song: @current_song, paused: @paused, current_directory: @current_directory} %>

  <div class="file-browser">
    <%= render :partial => 'file_browser', :locals => { parent: @parent, current_directory: @current_directory, files: @files} %>
  </div>

  <div class="playlist">
    <%= render :partial => 'playlist', :locals => { queue: @queue, current_directory: @current_directory} %>
  </div>

</div>
