<h1>framed</h1>
<audio id="player" controls>
  <source src="http://quittheprogram.org:8000/mpd.ogg" type="audio/ogg" />
  <em>Sorry, your browser doesn't support HTML5 audio.</em>
</audio>
<iframe src="/" frameborder="0" class="main" height="1000"></iframe>