/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bourbon";
@import "neat";

body {
  $border-box-sizing: false;
}

.container {
    @include outer-container;
  .main {
    @include fill-parent;
    $visual-grid: true;
    background: lightblue;

    .file-browser {
      @include span-columns(6);
      background: red;
    }
    .playlist {
      @include span-columns(6);
      background: green;
    }
  }

}
// section {
//   @include outer-container;
//   aside { @include span-columns(3); }
//   article { @include span-columns(9); }
// }
