/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require source-sans-pro
 *= require_tree .
 */

@import "bourbon";
@import "neat";

body {
  $border-box-sizing: false;
  background: white;
  font-family: $helvetica;
  //font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #888;
  //line-height: 18px;
  hr {
    border: none;
    height: 1px;
    background: #d0d0d0;
  }
}

a {
  text-decoration: none;
  color: #80A6CD;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #80A6CD;
}

.container {
    @include outer-container;
  .main {
    @include fill-parent;
    $visual-grid: true;
    //background: lightblue;

    .user-info {
      float: right;
    }

    .play-controls {
      padding: 2px 0 10px 0;
      a { color: white; }
      a:hover { text-decoration: none; }
      .btn {
        @include button(#80A6CD);
      }

      #player {
        float: right;
      }
    }

    .file-browser {
      @include span-columns(6);
      background: #eee;
      padding:3px;

      .breadcrumbs {
        padding: 2px 0 4px 0;
      }

      table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #d0d0d0;
        background: #f8f8f8;
      }

      .file-manager-row {
        vertical-align: top;

        .icon {
          width: 10px;
        }
        .actions {
          width: 30px;
        }
        .icon-folder-close {
          color: #80A6CD;
        }

        td {
          padding: 6px;
          border-bottom: 1px solid #D8D8D8;
          border-top: 1px solid #D8D8D8;

        }
      }
    }
    .playlist {
      @include span-columns(6);
      background: #eee;
      padding:3px;

      .controls {
        padding: 2px 2px 4px 0;
        float: right;
      }

      table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #d0d0d0;
        background: #f8f8f8;

        .playlist-row {
          vertical-align: top;

          .actions {
            width: 72px;
            white-space: nowrap;
          }

          td {
            padding: 6px;
            border-bottom: 1px solid #D8D8D8;
            border-top: 1px solid #D8D8D8;
            color: #888;
          }
        }

        .active {
          background: #eee;
        }
      }
    }
  }

}

.btn {
  @include button;
}
